#app {
  .sidebar-container {
    width: @sideBarWidth;
    background: @menuBg;
    position: fixed;
    height: 100%;
    font-size: 0px;
    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }
    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }
    
    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
    .svg-icon {
      margin-right: 16px;
    }
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }
    .el-submenu .el-menu {
      background-color: #282d33 !important;
      box-shadow: inset 0 2px 8px rgba(0,0,0,.45) !important;
    }
    .el-menu-item, .el-submenu__title {
      min-width: @sideBarWidth;
      background-color: transparent !important;
    }
    .hideSidebar {
      .sidebar-container {
        width: 54px !important;
      }
  
      .main-container {
        margin-left: 54px;
      }
  
      .submenu-title-noDropdown {
        padding: 0 !important;
        position: relative;
  
        .el-tooltip {
          padding: 0 !important;
  
          .svg-icon {
            margin-left: 20px;
          }
        }
      }
  
      .el-submenu {
        overflow: hidden;
  
        &>.el-submenu__title {
          padding: 0 !important;
  
          .svg-icon {
            margin-left: 20px;
          }
  
          .el-submenu__icon-arrow {
            display: none;
          }
        }
      }
  
      .el-menu--collapse {
        .el-submenu {
          &>.el-submenu__title {
            &>span {
              height: 0;
              width: 0;
              overflow: hidden;
              visibility: hidden;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}
